body {
  background: #f3f7fa;
  font-family: 'Open Sans', sans-serif;
  margin: 0;
  padding: 40px 0;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  align-items: flex-start;
  width: 750px;
  margin: 0 auto;
}

.wrapper {
  width: 500px;
  margin-left: 20px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;

  white-space: nowrap;

  border: 0;

  clip: rect(0 0 0 0);
  clip-path: inset(100%);

  -webkit-clip-path: inset(100%);
}

.btn-show {
  border: none;
  border-radius: 5px;
  color: #ffffff;
  text-align: center;
  font-weight: 600;
  width: 100%;
  text-transform: uppercase;
  background: #2196F3;
  min-height: 50px;
}
